VITE_SUPABASE_URL=https://amhcjliqsctcpphvbhze.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtaGNqbGlxc2N0Y3BwaHZiaHplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NDU1NTcsImV4cCI6MjA5MjUyMTU1N30.z_VlXtnq5FYpjxdLHe8C4j_pR6avl-o5STs950-pCWI
